/*@media (min-width: 1000px){*/


body{
  margin: 0;
}

figcaption{
  text-align: center;
}

nav{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0.5em;
  /*padding-left: 19em;*/
  background-color: #262626;
  width: 100%;
}

nav > a{
  padding: .25em .60em;
  text-decoration: none;
  margin: auto;
  text-align: center;
  color: white;
}

nav > a:visited{
  color: white;
}

nav > a:hover{
  color: gray;
  box-shadow: 2px 2px 3px gray;
  border-radius: 5px;
}

nav > a:active{
  color: black;
  border-radius: 5px;
}

.title{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 2.1em;
  margin: 3% 0 .3% 7.3%
}

.shortinfo>h1{
  font-family: 'Slabo 27px', serif;
  font-size: 2.1em;
  font-weight: bold;
  margin: 3% 0 .3% 7.3%
}

.shortinfo>p{
  font-family: 'Slabo 27px', serif;
  font-size: 1.40em;
  margin: 0.5% 10%;
  padding-right: 406px;
}

.longinfo>h1{
  font-family: 'Slabo 27px', serif;
  font-size: 1.9em;
  font-weight: bold;
  margin: 3% 0 .3% 8%
}

.longinfo>p{
  font-family: 'Slabo 27px', serif;
  font-size: 1.24em;
  margin: 0.5% 10%;
}

.list{
  font-family: 'Slabo 27px', serif;
  font-size: 1.24em;
  margin: 0.9% 13%;
  background: #E0E0E0;
  border-radius: 5px;
}

.header{
  width: 100%;
}

.headerimage{
  display: block;
  width: 960px;
  margin: 0 auto;
}

.headerimage img{
  height: 320px;
  margin: 0 12%;
}

.luca{
  float: right;
  position: relative;
  bottom: 65px;
  right: 268px;
}

.charlesdarwin{
  float: left;;
  position: relative;
  bottom:14px;
  left: 113px;
}

.floatleft{
  float: left;
  position: relative;
}

.floatright{
  float: right;
  position: relative;
}

.parrafodarwin{
  padding-left: 139px;
}

#charlesdarwin{
  height: 200px;
}

#heredityimg{
height: 280px;
}

#heredityfigure{
  margin-right: 15%;
}

#variationimg{
  height: 300px;
}

#variationfigure{
  margin-left: 12%;
}

#adaptationfigure{
  margin: 1% 1% 1% 13%;
}

/*}*/

@media only screen and (min-device-width : 300px) and (max-device-width : 668px) {

  nav{
    padding: 0;
  }

  nav>a{
    display: block;
    margin: 0;
    font-size: 2.1em;
  }

  p{
    text-align: left;
    padding: 1px;
    font-size: 120px;
  }

  img{
    display: block;
    margin: 0 auto;
    height: 400px;
  }

  .shortinfo>h1, .title{
    font-size: 5.3em;
  }

  .longinfo>h1{
    font-size: 5em;
  }

  .floatleft, .floatright, .luca, .charlesdarwin{
    position: static;
    float: none;
  }
  .parrafodarwin, .shortinfo>p{
    padding: 0;
  }

  .shortinfo>p{
    font-size: 4em;
  }

  .longinfo>p, .list{
    font-size: 4em;
  }

  #heredityfigure, #variationfigure, #adaptationfigure, .parrafodarwin{
    margin: 0;
  }


}
