nav{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  width: 100%;
  padding: 0.5em;
  padding-left: 19em;
  background-color: #262626;
}

nav > a{
  padding: .25em .60em;
  text-decoration: none;
  margin: auto;
  text-align: center;
  color: white;
}

nav > a:visited{
  color: white;
}

nav > a:hover{
  color: gray;
  box-shadow: 2px 2px 3px gray;
}

nav > a:active{
  color: yellow;
}
