nav{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  width: 100%;
  padding: 0.5em;
  padding-left: 19em;
  background-color: #262626;
}

nav > a{
  padding: .25em .60em;
  text-decoration: none;
  margin: auto;
  text-align: center;
  color: white;
}

nav > a:visited{
  color: white;
}

nav > a:hover{
  color: gray;
  box-shadow: 2px 2px 3px gray;
}

nav > a:active{
  color: yellow;
}

.title{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 2.1em;
  margin: 3% 0 .3% 7.3%
}

.shortinfo>h1{
  font-family: 'Slabo 27px', serif;
  font-size: 2.1em;
  font-weight: bold;
  margin: 3% 0 .3% 7.3%
}

.shortinfo>p{
  font-family: 'Slabo 27px', serif;
  font-size: 1.40em;
  margin: 0.5% 10%
}

.longinfo>h1{
  font-family: 'Slabo 27px', serif;
  font-size: 1.9em;
  font-weight: bold;
  margin: 3% 0 .3% 8%
}

.longinfo>p{
  font-family: 'Slabo 27px', serif;
  font-size: 1.24em;
  margin: 0.5% 10%;
}

.list{
  font-family: 'Slabo 27px', serif;
  font-size: 1.24em;
  margin: 0.9% 13%;
  background: #E0E0E0;
  border-radius: 5px;
}
